language: go

git:
  depth: 1

dist: xenial

env:
  - GO111MODULE=on

before_install:
  - go get github.com/mattn/goveralls

install:
  - go mod vendor

script:
  - go test -race -mod=vendor  -covermode atomic -coverprofile=profile.cov ./...
  - $GOPATH/bin/goveralls -coverprofile=profile.cov -service=travis-ci || true

go:
  - 1.13.x
  - 1.14.x