name: Go Quality

on: [ push, pull_request ]

jobs:
  test:
    name: Test with Coverage
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: '1.14'

      - name: Check out code
        uses: actions/checkout@v2
      - name: Run Unit tests
        # now with that option we can get cover from all project
        run: |
          go test -race -covermode=atomic -coverprofile=profile.cov -coverpkg=github.com/s7techlab/cckit/...

      - name: Send coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov